aniso8601==7.0.0
certifi==2020.12.5
chardet==3.0.4
Django==2.2
django-cors-headers==3.5.0
django-environ==0.4.5
django-filter==2.0.0
django-graphql-jwt==0.1.5
graphene==2.1.8
graphene-django==2.2.0
graphql-core==2.3.2
graphql-relay==2.0.1
idna==2.10
joblib==0.17.0
numpy==1.19.4
pandas==1.1.4
promise==2.3
psycopg2-binary==2.8.6
PyJWT==1.7.1
python-dateutil==2.8.1
pytz==2020.4
redis==3.5.3
requests==2.25.0
Rx==1.6.1
scikit-learn==0.23.2
scipy==1.5.4
singledispatch==3.4.0.3
six==1.15.0
spotipy==2.16.1
sqlparse==0.4.1
threadpoolctl==2.1.0
urllib3==1.26.2
